USE [master]
GO
/****** Object:  Database [Hotel-Booking]    Script Date: 10/5/2025 9:15:16 PM ******/
CREATE DATABASE [Hotel-Booking]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hotel-Booking', FILENAME = N'C:\Users\Syireen\Hotel-Booking.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Hotel-Booking_log', FILENAME = N'C:\Users\Syireen\Hotel-Booking_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hotel-Booking].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hotel-Booking]
GO
USE [Hotel-Booking]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 10/5/2025 9:15:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[admin_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[full_name] [varchar](100) NULL,
	[email] [varchar](100) NULL,
	[created_at] [datetime] NULL,
	[password_hash] [varbinary](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Guests]    Script Date: 10/5/2025 9:15:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guests](
	[guest_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[phone] [varchar](20) NULL,
	[address] [varchar](max) NULL,
	[username] [varchar](50) NOT NULL,
	[password_hash] [varbinary](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[guest_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 10/5/2025 9:15:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[reservation_id] [int] NOT NULL,
	[payment_date] [date] NOT NULL,
	[amount_paid] [decimal](10, 2) NOT NULL,
	[payment_method] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 10/5/2025 9:15:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[reservation_id] [int] IDENTITY(1,1) NOT NULL,
	[guest_id] [int] NOT NULL,
	[room_id] [int] NOT NULL,
	[check_in_date] [date] NOT NULL,
	[check_out_date] [date] NOT NULL,
	[total_amount] [decimal](10, 2) NULL,
	[reservation_status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[reservation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 10/5/2025 9:15:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[room_id] [int] IDENTITY(1,1) NOT NULL,
	[room_number] [varchar](10) NOT NULL,
	[room_type] [varchar](50) NOT NULL,
	[price_per_night] [decimal](10, 2) NOT NULL,
	[status] [varchar](20) NULL,
	[room_type_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[room_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomTypes]    Script Date: 10/5/2025 9:15:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomTypes](
	[type_id] [int] IDENTITY(1,1) NOT NULL,
	[type_name] [varchar](50) NOT NULL,
	[description] [varchar](max) NULL,
	[base_price] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([admin_id], [username], [full_name], [email], [created_at], [password_hash]) VALUES (1, N'ilyaasyireen', N'Ilya Admin', N'ilya.admin@example.com', CAST(N'2025-05-10T20:30:40.233' AS DateTime), 0x01000000FDE9B20660FB8CB06664EA7598D474A607FB74155C48FD81)
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[Guests] ON 

INSERT [dbo].[Guests] ([guest_id], [full_name], [email], [phone], [address], [username], [password_hash]) VALUES (1, N'Russet Red', N'russetred@example.com', N'0123456789', N'12 Jalan Mawar, Kuala Lumpur', N'russetred', 0xF732B40F8E692EE5668D6520B652B03565654FE898CAB4454BEBC27ED74492CB)
INSERT [dbo].[Guests] ([guest_id], [full_name], [email], [phone], [address], [username], [password_hash]) VALUES (2, N'Jose Luis', N'joseluis@example.com', N'0198765432', N'45 Jalan Kenanga, Selangor', N'joseluis', 0x4E9F5F22D5B08A16B46C5CFEE5EFE7CEE914E52120AD5550E75F9B210CB855A9)
SET IDENTITY_INSERT [dbo].[Guests] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([payment_id], [reservation_id], [payment_date], [amount_paid], [payment_method]) VALUES (1, 1, CAST(N'2025-05-10' AS Date), CAST(300.00 AS Decimal(10, 2)), N'Credit Card')
INSERT [dbo].[Payments] ([payment_id], [reservation_id], [payment_date], [amount_paid], [payment_method]) VALUES (2, 2, CAST(N'2025-05-15' AS Date), CAST(180.00 AS Decimal(10, 2)), N'Cash')
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservations] ON 

INSERT [dbo].[Reservations] ([reservation_id], [guest_id], [room_id], [check_in_date], [check_out_date], [total_amount], [reservation_status]) VALUES (1, 1, 1, CAST(N'2025-05-10' AS Date), CAST(N'2025-05-13' AS Date), CAST(300.00 AS Decimal(10, 2)), N'Booked')
INSERT [dbo].[Reservations] ([reservation_id], [guest_id], [room_id], [check_in_date], [check_out_date], [total_amount], [reservation_status]) VALUES (2, 2, 11, CAST(N'2025-05-15' AS Date), CAST(N'2025-05-17' AS Date), CAST(360.00 AS Decimal(10, 2)), N'Booked')
SET IDENTITY_INSERT [dbo].[Reservations] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([room_id], [room_number], [room_type], [price_per_night], [status], [room_type_id]) VALUES (1, N'101', N'2-Person', CAST(100.00 AS Decimal(10, 2)), N'Booked', 1)
INSERT [dbo].[Rooms] ([room_id], [room_number], [room_type], [price_per_night], [status], [room_type_id]) VALUES (2, N'102', N'2-Person', CAST(100.00 AS Decimal(10, 2)), N'Available', 1)
INSERT [dbo].[Rooms] ([room_id], [room_number], [room_type], [price_per_night], [status], [room_type_id]) VALUES (3, N'103', N'2-Person', CAST(100.00 AS Decimal(10, 2)), N'Available', 1)
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[RoomTypes] ON 

INSERT [dbo].[RoomTypes] ([type_id], [type_name], [description], [base_price]) VALUES (1, N'2-Person Room', N'Room suitable for 2 guests, includes 1 double bed', CAST(100.00 AS Decimal(10, 2)))
INSERT [dbo].[RoomTypes] ([type_id], [type_name], [description], [base_price]) VALUES (2, N'4-Person Room', N'Room suitable for 4 guests, includes 2 double beds', CAST(180.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[RoomTypes] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Admins__AB6E61645A2EA491]    Script Date: 10/5/2025 9:15:17 PM ******/
ALTER TABLE [dbo].[Admins] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Admins__F3DBC572510C072B]    Script Date: 10/5/2025 9:15:17 PM ******/
ALTER TABLE [dbo].[Admins] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Guests__AB6E6164E1D2B44D]    Script Date: 10/5/2025 9:15:17 PM ******/
ALTER TABLE [dbo].[Guests] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Rooms__FE22F61BE8635DEC]    Script Date: 10/5/2025 9:15:17 PM ******/
ALTER TABLE [dbo].[Rooms] ADD UNIQUE NONCLUSTERED 
(
	[room_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Admins] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Reservations] ADD  DEFAULT ('Booked') FOR [reservation_status]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ('Available') FOR [status]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([reservation_id])
REFERENCES [dbo].[Reservations] ([reservation_id])
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD FOREIGN KEY([guest_id])
REFERENCES [dbo].[Guests] ([guest_id])
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK__Reservati__room___2D27B809] FOREIGN KEY([room_id])
REFERENCES [dbo].[Rooms] ([room_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK__Reservati__room___2D27B809]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK_RoomType] FOREIGN KEY([room_type_id])
REFERENCES [dbo].[RoomTypes] ([type_id])
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [FK_RoomType]
GO
USE [master]
GO
